{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'components/_navbar.html' %}
<!-- <style>
    h1, h2, h3, h4, h5, h6, p {
        margin: 1rem 0;
    }

    @media (max-width: 768px) {
        img {
            max-width: 100%;
        }
    }
</style> -->
<section class="container" id="single-post">
    <a href="{% url 'posts' %}" class="btn send-btn login-btn" style="margin-top: 3rem;">
        <i class="fa fa-arrow-circle-left"></i>
        {% trans "Posts" %}
    </a>

    <!-- heading -->
    <div>
        <h1 class="heading">
            {{ post.title }}
        </h1>
        {{ post.body|safe }}
    </div>



</section>
{% endblock content %}