{% extends 'base.html' %}

{% block content %} 
{% include 'components/_navbar.html' %}
<section class="container" id="posts">
    <!-- heading -->
    <h2 class="heading">All posts</h2>

    <input class="post-search-input" type="text" placeholder="Type whatever you want to search and press Enter" maxlength="255" minlength="6" autofocus>

    <section class="posts-content">
        {% for post in posts %}
        <a href="{% url 'post' slug=post.slug %}">- {{ post.title|truncatechars:"80" }}</a>
        {% endfor %}
    </section>
</section>
{% endblock content %}