{% extends 'base.html' %} 
{% load static %} 

{% block content %}
{% include 'components/_navbar.html' %}
<!-- services -->
<section class="services container" id="services">
    <!-- heading -->
    <h2 class="heading">Services</h2>
    <!-- services content -->
    <div class="services-content">
        <div class="services-box">
            <i class="bx bx-code-alt"></i>
            <h2>Frontend Development</h2>
            <p>
                Development of the frontend part of the site, customization,
                adding different animations of different complexity, a fully
                working part of registration and authorization.<br />Layout of
                multi-page sites with perfect adaptation and much more ...
            </p>
        </div>
        <div class="services-box">
            <i class="bx bxl-python"></i>
            <h2>Backend Development</h2>
            <p>
                Development of the backend part of multi-page sites with
                registration, authorization, subscription system, viewing stats,
                CRM system, admin panel for managing a web application.
                <br />Websites for
                <strong
                    >Hotels, Restaurants, Organizations, Training Centers,
                    Personal Blogs, Online Private Messengers</strong
                >
                ...
            </p>
        </div>
        <div class="services-box">
            <i class="bx bxs-bot"></i>
            <h2>Telegram Bot</h2>
            <p>
                Development of full-featured telegram bots with full
                <strong>integration of payment</strong> through the bot, with
                the ability to track and identify
                <strong>statistics</strong> for
                <strong>restaurants, Training Centers</strong>, a
                <strong>Moderator Bot</strong> for managing and posting news to
                channels, bot that collects data from the Internet on your
                purposes, <strong>Bot-Scraper</strong> that collects data from
                online stores, web sites in seconds and much more ...
            </p>
        </div>
    </div>
</section>
{% include 'components/_footer.html' %}
{% endblock content %}
