<!-- <a class="scroll-top" href="#nav">
    <i class="bx bx-up-arrow-alt"></i>
</a> -->
<header>
    <!-- nav -->
    <div class="nav container" id="nav">
        <!-- logo -->
        <a class="logo" href="/">Ulugbek Umaraliyev</a>
        <!-- navbar -->
        <ul class="navbar">
            <li><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'index' %}#about">About</a></li>
            <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
            <li><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
            <li><a class="nav-link" href="{% url 'index' %}#reviews">Reviews</a></li>
            {% if not request.user.is_authenticated %}
            <li><a class="btn" style="margin: 0;" href="{% url 'login' %}">Login</a></li>
            {% else %}
            <li><a class="btn" style="margin: 0;" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
        <!-- menu icon -->
        <div class="menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</header>
