<!-- <a class="scroll-top" href="#nav">
    <i class="bx bx-up-arrow-alt"></i>
</a> -->
{% load i18n %}
<header>
    <!-- nav -->
    <div class="nav container" id="nav">
        <!-- logo -->
        <a class="logo" href="{% url 'index' %}">
            {% if request.user.is_authenticated %}
            {% trans "Hi" %}, {{ request.user.first_name }} !
            {% else %}
            Ulugbek Umaraliyev
            {% endif %}
        </a>
        <!-- navbar -->
        <ul class="navbar">
            <li><a class="nav-link" href="{% url 'index' %}">{% trans "Home" %}</a></li>
            <li><a class="nav-link" href="{% url 'index' %}#about">{% trans "About" %}</a></li>
            <li><a class="nav-link" href="{% url 'services' %}">{% trans "Services" %}</a></li>
            <li><a class="nav-link" href="{% url 'portfolio' %}">{% trans "Portfolio" %}</a></li>
            <li><a class="nav-link" href="{% url 'index' %}#reviews">{% trans "Reviews" %}</a></li>
            <li><a class="nav-link" href="{% url 'posts' %}">{% trans "Posts" %}</a></li>
        
            {% if not request.user.is_authenticated %}
            <li><a class="btn" style="margin: 0;" href="{% url 'login' %}">{% trans "Login" %}</a></li>
            {% else %}
            <li><a class="btn" style="margin: 0;" href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            {% endif %}
        </ul>
        <!-- menu icon -->
        <div class="menu-icon">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>
</header>


<script type="text/javascript">
    const language = document.getElementById('language')
    const switchLanguageForm = document.getElementById('language-form')

    language.addEventListener('change', (e) => {
        // const languages = e.target.querySelectorAll('option')
        // languages.forEach(language => {
        //     if (language.selected) {

        //    }
        // })
        switchLanguageForm.submit()
    })
</script>
